<body>
    <div class="landing-container">
      <!-- Navbar Section -->
      <header class="navbar">
        <div class="logo">
          <h1>MONSTORE</h1>
        </div>
        <div class="nav-buttons">
          <a routerLink="/sign-up" class="btn">SIGN UP</a>
          <a routerLink="/log-in" class="btn">LOG IN</a>
        </div>        
      </header>
  
      <!-- Main Content Section with Background Image -->
      <section class="hero">
        <div class="hero-content">
          <p>KEEP HUNTING WITH US</p>
        </div>
      </section>
  
      <!-- Aquí va el router-outlet -->
      
    </div>
  </body>
  