
<div class="container">
  <header class="navbar">
    <div class="logo-buttons-container">
      <div class="logo">
        <h1>MONSTORE</h1>
      </div>
      <div class="nav-buttons">
        <button (click)="goToWishList()" class="btn">
          <img src="/assets/wishb.png" alt="Wish">
        </button>
        <button (click)="goToCart()" class="btn">
          <img src="/assets/cartb.png" alt="Cart">
        </button>
        <button (click)="goToProfile()" class="btn">
          <img src="/assets/user.webp" alt="Profile">
        </button>
      </div>
    </div>
  </header>
  <div class="subtitle">
    <h2>WISH LIST</h2>
  </div>

  <!-- Mostrar productos en la lista de deseos -->
  <div *ngIf="wishListItems.length > 0; else emptyList">
    <div *ngFor="let product of wishListItems; let i = index" class="product-card">
      <img [src]="product.image" alt="{{ product.name }}" class="product-image" />
      <h3>{{ product.name }}</h3>
      <p class="product-category">Category: {{ product.category }}</p>
      <p class="product-color">Color: {{ product.color }}</p>
      <p class="product-price">{{ product.price | currency }}</p>

      <!-- Botón para eliminar el producto de la lista de deseos -->
      <button (click)="removeFromWishList(i)">Remove from Wish List</button>
    </div>
  </div>

  <!-- Mensaje cuando no hay productos en la lista de deseos -->
  <ng-template #emptyList>
    <p>Your wish list is empty.</p>
  </ng-template>
</div>

