<header class="navbar">
  <div class="logo-buttons-container">
    <div class="logo">
      <h1>MONSTORE</h1>
    </div>
    <div class="nav-buttons">
      <button (click)="goToWishList()" class="btn">
        <img src="/assets/wishb.png" alt="Wish">
      </button>
      <button (click)="goToCart()" class="btn">
        <img src="/assets/cartb.png" alt="Cart">
      </button>
      <button (click)="goToProfile()" class="btn">
        <img src="/assets/user.webp" alt="Profile">
      </button>
    </div>
  </div>
</header>
  <div class="subtitle">
    <h2>SHOPPING CART</h2>
  </div>

  <div *ngIf="cartItems.length > 0; else emptyCart">
    <div *ngFor="let item of cartItems; let i = index" class="cart-item">
      <img [src]="item.image" alt="{{ item.name }}" />
      <h3>{{ item.name }}</h3>
      <p>{{ item.price | currency:'USD' }}</p>
      <button (click)="removeItem(i)">Eliminar</button>
    </div>
  </div>

  <ng-template #emptyCart>
    <p>Tu carrito está vacío.</p>
  </ng-template>


 

