/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-size: cover;
    background-image: url('/assets/homew.png'); 
}

/* Barra de navegación */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-image: url('/assets/pergamino.png');
    color: rgb(0, 0, 0);
}

.logo-buttons-container {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo h1 {
    margin: 0;
    font-size: 1.8rem;
}

.nav-buttons {
    display: flex;
    gap: 20px;
}

.nav-buttons .btn {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    overflow: hidden;
    transition: transform 0.3s ease;
}

.nav-buttons .btn img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.nav-buttons .btn:hover {
    transform: scale(1.1);
}

.search-bar {
    display: flex;
    gap: 10px;
    align-items: center;
}

.search-bar input[type="text"] {
    padding: 8px;
    width: 300px;
    border-radius: 20px;
    border: 1px solid #ccc;
    outline: none;
}

.search-bar input[type="text"]:focus {
    border-color: #3e372c;
}

.search-bar button {
    padding: 8px 12px;
    background-color: #3e372c;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-weight: bold;
}

.search-bar button:hover {
    background-color: #000000;
}

.btn img {
    width: 20px; /* Ajusta el ancho según tu imagen */
    height: 20px; /* Ajusta la altura según tu imagen */

  }

  /* Contenedor de productos */
  .products-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 20px;
}

.product-card {
    background-color: rgb(255, 255, 255, 0.5);
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    padding: 15px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product-image {
    max-width: 100%;
    border-radius: 10px;
}

.product-price {
    font-weight: bold;
    color: #333;
}

button {
    background-color: #3e372c;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #000000;
}

  

